## 1- Importando Bibliotecas

In [1]:
import pandas as pd

## 2- Carregando Base de Dados

In [3]:
file_name = 'data/data.csv'
dataset = pd.read_csv(file_name, sep=',', header=0)

## 3- Entendimento dos Dados
Nessa parte é realizada a análise dos dados

In [4]:
### Exibindo número de linhas e colunas da base de dados
dataset.shape

(1, 98)

In [5]:
### Imprimindo as 5 primeiras linhas do dataframe
dataset.head()

,Title,Authors,Corporate Authors,Editors,Book Editors,Source Title,Publication Date,Publication Year,Volume,Issue,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Data mining in course management systems: Mood...,"Romero, Cristobal; Ventura, Sebastian; Garcia,...",NaN,NaN,NaN,COMPUTERS & EDUCATION,AUG 2008,2008,51,1,...,32,36,42,50,44,62,47,45,39,14

In [6]:
### O dataframe possui 98 colunas como demonstrado acima
### Exibindo quais são as colunas
dataset.columns

Index(['Title', 'Authors', 'Corporate Authors', 'Editors', 'Book Editors',
       'Source Title', 'Publication Date', 'Publication Year', 'Volume',
       'Issue', 'Part Number', 'Supplement', 'Special Issue', 'Beginning Page',
       'Ending Page', 'Article Number', 'DOI', 'Conference Title',
       'Conference Date', 'Total Citations', 'Average per Year', '1945',
       '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954',
       '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'],
      dtype='object')

In [7]:
## Exibindo umas amostra de 10 Registros
dataset.sample(10)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [8]:
### existem dados nulos, exibindo número de registros nulos
dataset.isnull().sum()

Title                0
Authors              0
Corporate Authors    1
Editors              1
Book Editors         1
                    ..
2017                 0
2018                 0
2019                 0
2020                 0
2021                 0
Length: 98, dtype: int64

In [10]:
### Exibindo a quantidade de linhas para cada coluna
dataset.count()

Title                1
Authors              1
Corporate Authors    0
Editors              0
Book Editors         0
                    ..
2017                 1
2018                 1
2019                 1
2020                 1
2021                 1
Length: 98, dtype: int64

In [11]:
# Exibindo informações estatísticas
dataset.describe()

,Corporate Authors,Editors,Book Editors,Publication Year,Volume,Issue,Part Number,Supplement,Special Issue,Beginning Page,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,NaN,NaN,NaN,2008.0,51.0,1.0,NaN,NaN,NaN,368.0,...,32.0,36.0,42.0,50.0,44.0,62.0,47.0,45.0,39.0,14.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2008.0,51.0,1.0,NaN,NaN,NaN,368.0,...,32.0,36.0,42.0,50.0,44.0,62.0,47.0,45.0,39.0,14.0
25%,NaN,NaN,NaN,2008.0,51.0,1.0,NaN,NaN,NaN,368.0,...,32.0,36.0,42.0,50.0,44.0,62.0,47.0,45.0,39.0,14.0
50%,NaN,NaN,NaN,2008.0,51.0,1.0,NaN,NaN,NaN,368.0,...,32.0,36.0,42.0,50.0,44.0,62.0,47.0,45.0,39.0,14.0
75%,NaN,NaN,NaN,2008.0,51.0,1.0,NaN,NaN,NaN,368.0,...,32.0,36.0,42.0,50.0,44.0,62.0,47.0,45.0,39.0,14.0
max,NaN,NaN,NaN,2008.0,51.0,1.0,NaN,NaN,NaN,368.0,...,32.0,36.0,42.0,50.0,44.0,62.0,47.0,45.0,39.0,14.0